body{
    text-align: center;
    background-image: url(https://png.pngtree.com/background/20210710/original/pngtree-baby-supplies-banner-picture-image_1062192.jpg);
}
#table{
    text-align: center;
}